@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root{
    font-family: 'VT323', monospace;
    font-smooth: never;
    -webkit-font-smoothing : none;
}

html {
    box-sizing: border-box; 
}
    
*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    
    
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('./Images/background.png') repeat;
    mix-blend-mode:soft-light;
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    pointer-events: none;
  }

body{
    color: #41FF00;
    text-shadow: 0.01em 0.01em 0.01em rgb(202, 255, 103), 0 0 0.1em blue, 0 0 0.2em rgb(255, 53, 53);
}